.aboutConteiner {
  width: 100%;
  height: 100%;

  .aboutHeader {
    font-size: 2rem;
    font-family: "Notable", sans-serif;
    padding: 5rem;
    background: linear-gradient(to bottom, #333, #222);
  }

  .aboutWrapper {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 5rem;

    .aboutCard {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 25%;
      padding: 4rem 0;
      background-color: #222;
      border: 1px solid #333;
      cursor: pointer;
      transition: transform 300ms ease-in-out;
      box-shadow: -15px 15px 0px 0px #333;

      &:hover {
        transform: translateY(-20px);
        z-index: 1;
      }

      &.active {
        border: 1px solid #fff;
        box-shadow: -15px 15px 0px 0px #fff;
        transform: translateY(-20px);
      }

      .icon {
        width: 25%;
        aspect-ratio: 1 / 1;
        height: auto;
      }

      .cardTitle {
        font-size: 1.5rem;
      }
    }
  }

  .informationWrapper {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    width: 40%;
    max-width: 600px;
    font-size: 1.2rem;
    gap: 3rem;

    a {
      text-decoration: underline;
      font-family: "Notable", sans-serif;
    }
  }
}
