button.light {
  width: 80%;
  padding: 0.7rem;
  background-color: #fff;
  font-family: "Notable", sans-serif;
  font-size: 1.1rem;
  color: #222;
  border-radius: 1rem;
  margin: 2rem 0;
  transition: background 300ms ease;
  border: 1px solid #fff;
  cursor: pointer;

  &:hover {
    background-color: #222;
    color: #fff;
  }
}

button.dark {
  width: 80%;
  padding: 0.7rem;
  background-color: #222;
  font-family: "Notable", sans-serif;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 1rem;
  margin: 2rem 0;
  transition: background 300ms ease;
  border: 1px solid #fff;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #222;
  }
}
