footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2.5rem 5rem;
  background-color: #333;

  .logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;

    img {
      width: 2.5rem;
      margin-right: 0.5rem;
    }
  }
}
