.LoginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
  border: 1px solid #fff;
  box-shadow: -15px 15px 0px 0px #fff;
  padding: 1rem;

  .loginHeader {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    padding: 1rem;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    width: 100%;

    input {
      width: 80%;
      background-color: #222;
      border: 1px solid #fff;
      border-radius: 1rem;
      padding: 0.5rem;
      font-size: 1.1rem;

      &::placeholder {
        color: #fff;
        transition: 300ms ease;
      }

      &:focus {
        &::placeholder {
          color: #222;
        }
      }
    }

    button {
      width: 80%;
      padding: 0.7rem;
      background-color: #fff;
      font-family: "Notable", sans-serif;
      font-size: 1.1rem;
      color: #222;
      border-radius: 1rem;
      margin: 2rem 0;
      transition: background 300ms ease;
      border: 1px solid #fff;
      cursor: pointer;

      &:hover {
        background-color: #222;
        color: #fff;
      }
    }
  }

  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
