* {
  font-family: "Poppins";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loginContainer {
  .loginHeader {
    font-size: 2rem;
    font-family: "Notable", sans-serif;
    padding: 5rem;
  }
}
