* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f1f1f1;
  position: relative;
  background-color: #333;
  padding: 1rem;

  .headerLogo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;

    .headerImg {
      width: 2rem;
      margin-right: 0.5rem;
    }
  }

  .hamburger {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    cursor: pointer;

    .line {
      width: 100%;
      height: 4px;
      background-color: #f1f1f1;
      transition: transform 300ms ease;
    }

    &.active {
      .line.up {
        transform: translateY(8px) rotate(45deg);
      }
      .line.down {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(110%);
  padding: 10vw;
  transition: transform 300ms ease;
  background-color: #22222273;
  backdrop-filter: blur(20px);
  z-index: 1000;
  font-size: clamp(1.5rem, 5vw, 4rem);

  a {
    cursor: pointer;
    text-decoration: none;
    font-family: "Notable", sans-serif;
    color: #fff;
    transition: transform 300ms ease;

    &:hover {
      transform: translateX(20px);
    }
  }

  &.active {
    transform: translateX(0);
  }
}
