* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #f1f1f1;
  padding: 1rem;
  position: relative;
  transition: background-color 300ms ease;
  z-index: 1000;

  .logo {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .hamburger {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    cursor: pointer;

    .line {
      width: 100%;
      height: 4px;
      background-color: #f1f1f1;
      transition: transform 300ms ease;
    }

    &.active {
      .line.up {
        transform: translateY(8px) rotate(45deg);
      }
      .line.down {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
  &.active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(110%);
  padding: 10vw;
  transition: transform 300ms ease;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  z-index: 1000;

  a {
    cursor: pointer;
    text-decoration: none;
    font-family: "Notable", sans-serif;
    color: #e94560;
    transition: transform 300ms ease;

    &:hover {
      transform: translateX(20px);
    }
  }

  &.active {
    transform: translateX(0);
  }
}
