* {
  font-family: "Poppins";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin-bottom: 12rem;
  .homeHeader {
    font-family: "Notable", sans-serif;
    font-size: clamp(1.2rem, 4vw, 4rem);
    color: #fff;
    padding: 10rem 5rem;

    @media only screen and (max-width: 768px) {
      padding: 10rem 2rem;
    }

    @media only screen and (max-width: 640px) {
      padding: 5rem 2rem;
    }
  }

  .dashboardWrapper {
    max-width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
    aspect-ratio: 16/9;
    .dashboardMini {
      width: 95%;
      border: 1px solid #d9d9d9;

      .headerMini {
        width: 100%;
        padding: 0.8em;
        background-color: #333;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .iconMini {
          width: clamp(25px, 1vw, 55px);
        }
        .avatarMini {
          width: clamp(26px, 1vw, 55px);
          height: clamp(26px, 1vw, 55px);
          background-color: #fff;
          border-radius: 100%;
        }
      }
      .wrapperMini {
        width: 100%;
        display: flex;

        .sidebarMini {
          width: 25%;
          background-color: #262626;
          display: block;
          padding: 0 1rem;

          .buttonWrapperMini {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem 0;
            border-bottom: 1px solid #fff;

            button {
              width: 80%;
              text-align: center;
              padding: 1rem 0.5rem;
              border: 3px solid #fff;
              border-radius: 1rem;
              font-family: "Notable", sans-serif;
              font-size: clamp(14px, 1vw, 20px);
            }
          }
          .listMini {
            h4 {
              font-weight: 600;
              font-size: 1.2rem;
              padding: 1.5rem 0;
            }
          }
        }
        .mainMini {
          display: none;
          width: 75%;
        }
      }
    }
  }
}
