main {
  height: 100vh;
  position: relative;

  .light {
    background-color: #533483;
    width: 20vw;
    height: 20vw;
    opacity: 0.5;
    filter: blur(70px);
    position: fixed;
    border-radius: 100%;
    z-index: -1;

    &.up {
      top: 20%;
      left: 10%;
    }
    &.down {
      bottom: 0%;
      right: -5%;
    }
  }

  h1 {
    font-family: "Notable", sans-serif;
    color: #e94560;
    position: absolute;
    top: 30%;
    left: 15%;
  }
}
