main {
  position: relative;

  .light {
    position: fixed;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #533483;
    opacity: 0.5;
    filter: blur(50px);
    z-index: 10;
  }

  .light.first {
    top: 20%;
    left: 10%;
  }
  .light.secound {
    bottom: -10%;
    right: 0%;
  }

  h1 {
    font-family: "Notable", sans-serif;
    color: #e94560;
    font-size: 2.5rem;
    z-index: 10;
    margin: 200px 300px;
  }
}
