* {
  font-family: "Poppins";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin-bottom: 12rem;
  .homeHeader {
    font-family: "Notable", sans-serif;
    font-size: clamp(1.2rem, 3vw, 4rem);
    color: #fff;
    padding: 10rem 5rem;

    @media only screen and (max-width: 768px) {
      padding: 10rem 2rem;
    }

    @media only screen and (max-width: 640px) {
      padding: 5rem 2rem;
    }
  }

  .dashboardWrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;

    .dashboardMini {
      width: 90vw;
      aspect-ratio: 16 / 9;
      max-width: 1200px;
      background-color: #222;
      border: 1px solid #fff;
      border-radius: 2em;
      box-sizing: border-box;
      transform: translateX(2rem);
    }

    /* Mobile devices view */
    @media only screen and (max-width: 768px) {
      .dashboardMini {
        width: 95vw;
        border-radius: 1.5em;
        transform: rotate(-6deg);
      }
    }

    @media only screen and (max-width: 480px) {
      .dashboardMini {
        width: 100vw;
        border-radius: 1em;
        transform: rotate(-3deg);
      }
    }

    .headerMini {
      width: 100%;
      height: 8%;
      background-color: #333;
      border-radius: 2rem 2rem 0 0;
      padding: 0 clamp(5px, 2vw, 25px);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .iconMini {
        width: clamp(10px, 2vw, 25px);
      }

      .avatarMini {
        width: clamp(10px, 2.5vw, 30px);
        height: clamp(10px, 2.5vw, 30px);
        aspect-ratio: 1/1;
        background-color: #d9d9d9;
        border-radius: 100%;
      }
    }

    .wrapperMini {
      display: flex;
      width: 100%;
      height: 92%;

      .sidebarMini {
        width: 20%;
        background-color: #262626;
        border-radius: 0 0 0 2rem;
        display: flex;
        flex-direction: column;
        padding: clamp(1rem, 2vw, 3rem) clamp(0.1rem, 1vw, 1rem);

        .buttonWrapperMini {
          display: flex;
          justify-content: center;
          button {
            font-family: "Notable", sans-serif;
            padding: 1vw;
            background-color: #262626;
            border: 2px solid #fff;
            border-radius: 0.5rem;
            font-size: clamp(0.1rem, 1vw, 1rem);
            margin: 0 auto;
          }
        }

        hr {
          width: 90%;
          height: 2px;
          background-color: #fff;
          margin: 1rem auto;
        }

        .listMini {
          h4 {
            font-weight: 500;
            font-size: clamp(0.2rem, 1.2vw, 1.2rem);
            margin-bottom: clamp(0.2rem, 1vw, 1rem);
          }
          p {
            font-size: clamp(0.1rem, 1vw, 1rem);
          }
        }
      }

      .mainMini {
        padding: clamp(0.2rem, 3vw, 1.5rem);
        display: flex;
        flex-direction: column;
        width: 80%;

        h3 {
          width: 100%;
          font-size: clamp(0.5rem, 3vw, 2rem);
          text-align: end;
          padding: clamp(0.5rem, 3vw, 2rem);
        }

        .row {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          gap: clamp(0.5rem, 1vw, 2rem);
        }
      }
    }
  }
}
